/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#preload-01 {
  background: url(/projects/parker/img/homeImage.png) no-repeat -9999px -9999px;
}

#preload-02 {
  background: url(/projects/parker/img/homeLove.gif) no-repeat -9999px -9999px;
}

#preload-03 {
  background: url(/projects/parker/img/homeSweat.gif) no-repeat -9999px -9999px;
}

#preload-04 {
  background: url(/projects/parker/img/homeWant.gif) no-repeat -9999px -9999px;
}

#preload-05 {
  background: url(/projects/parker/img/angel3.png) no-repeat -9999px -9999px;
}

.nav {
  display: block;
  margin: 1em 1em;
  letter-spacing: 0.5em;
  text-align: center;
  right: 0;
  transition: font-size 1s;
}
@media only screen and (max-width: 900px) {
  .nav {
    margin: 1em auto;
    width: 100%;
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 499px) {
  .nav {
    font-size: 0.75em;
  }
}
.nav a {
  color: white;
  transition: 0.25s opacity;
  opacity: 0.75;
}
.nav a:link {
  color: white;
}
.nav a:hover {
  color: white;
  opacity: 1;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #ff4d96 0%, #f71e50 100%);
  background-attachment: fixed;
  min-height: 100%;
  overflow-x: hidden;
}

.siteWrap {
  padding: 2em 2em;
  max-width: 1500px;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  .siteWrap {
    padding: 2em 0.5em;
  }
}
.siteWrap .indexText {
  text-align: center;
  font-size: 4.5em;
  font-family: "Bungee", cursive;
}
@media only screen and (max-width: 900px) {
  .siteWrap .indexText {
    font-size: 3em;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 499px) {
  .siteWrap .indexText {
    width: inherit;
    font-size: 1.5em;
  }
}
.siteWrap .playstuff {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteWrap .playstuff .parker {
  max-width: 25% !important;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  justify-self: center;
  margin: 1em 100px;
}
@media only screen and (max-width: 900px) {
  .siteWrap .playstuff .parker {
    max-width: 100%;
    margin: 1em 50px;
  }
}
@media only screen and (max-width: 499px) {
  .siteWrap .playstuff .parker {
    margin: 1em 30px;
  }
}
.siteWrap .playstuff .parker img {
  width: 100%;
  display: block;
  position: relative;
}
.siteWrap .playstuff .food {
  display: inline-block;
  max-width: 25% !important;
  text-align: center;
  margin: 1em 100px;
  min-width: 25%;
}
@media only screen and (max-width: 900px) {
  .siteWrap .playstuff .food {
    max-width: 100%;
    margin: 1em 50px;
  }
}
@media only screen and (max-width: 499px) {
  .siteWrap .playstuff .food {
    margin: 1em 30px;
  }
}
.siteWrap .playstuff .food i {
  color: #fffb00;
  margin-bottom: 0.25em;
  width: 100%;
  animation: 2s blink infinite steps(2, start);
}
@media only screen and (max-width: 900px) {
  .siteWrap .playstuff .food i {
    font-size: 4em;
  }
}
@media only screen and (max-width: 499px) {
  .siteWrap .playstuff .food i {
    font-size: 2.5em;
  }
}
.siteWrap .playstuff .food img {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}
.siteWrap .instruct {
  text-align: center;
  font-size: 3em;
  width: fit-content;
  margin: 0 auto;
  padding: 0.25em 1em;
  font-family: "Bungee", cursive;
  color: white;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .siteWrap .instruct {
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 499px) {
  .siteWrap .instruct {
    font-size: 1em;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.hiddenArrow {
  visibility: hidden;
}

.portWrap {
  width: 900px;
  margin: 0 auto;
  position: relative;
  display: block;
}
@media only screen and (max-width: 900px) {
  .portWrap {
    width: 98%;
  }
}
.portWrap .actualPortfolio {
  background-color: white;
  line-height: 1.5;
  border-radius: 10px;
  padding: 1em 2em;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 1em 0;
  width: 644px;
}
@media only screen and (max-width: 900px) {
  .portWrap .actualPortfolio {
    width: calc(100% - 4em);
  }
}
.portWrap .actualPortfolio h1 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 1em 0;
  text-align: center;
  background-color: #ff4d96;
  padding: 1em 0;
  border-radius: 10px;
  color: white;
}
.portWrap .actualPortfolio h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0.5em 0;
}
.portWrap .actualPortfolio p {
  margin: 1em 0;
  font-weight: 100;
}
.portWrap .actualPortfolio p a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.portWrap .actualPortfolio p a:link, .portWrap .actualPortfolio p a:visited {
  color: #ff4d96;
}
.portWrap .actualPortfolio p a:hover {
  color: #f71e50;
}
.portWrap .actualPortfolio p a b {
  font-weight: 700;
  color: blue;
}
.portWrap .actualPortfolio strong {
  font-weight: 900;
  text-decoration: underline;
}
.portWrap .actualPortfolio img {
  border: 2px solid #ff4d96;
  margin: 1em auto;
  display: block;
  box-shadow: 4px 4px 10px 4px #888;
  max-width: 100%;
}
.portWrap .portLogo {
  margin-top: 1em;
  min-height: 319px;
  width: 900px;
}
@media only screen and (max-width: 900px) {
  .portWrap .portLogo {
    height: inherit;
    width: 100%;
  }
}
.portWrap .portLogo #angelBoy {
  position: absolute;
  width: 307px;
  z-index: -1;
  top: 319px;
}
@media only screen and (max-width: 900px) {
  .portWrap .portLogo #angelBoy {
    float: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.portWrap .portLogo .portTextWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 319px;
  justify-content: center;
  margin: 0 0 0 307px;
  color: white;
}
@media only screen and (max-width: 900px) {
  .portWrap .portLogo .portTextWrap {
    height: inherit;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 239.25px;
  }
}
.portWrap .portLogo .thanks {
  font-size: 2.5em;
  margin-bottom: 0.25em;
  align-self: center;
  text-align: center;
  width: 100%;
  display: block;
  transition: font-size 0.5s;
  font-family: "Bungee", cursive;
}
@media only screen and (max-width: 900px) {
  .portWrap .portLogo .thanks {
    font-size: 2em;
  }
}
@media only screen and (max-width: 499px) {
  .portWrap .portLogo .thanks {
    font-size: 1.5em;
  }
}
.portWrap .portLogo .thanksPartTwo {
  font-size: 1.75em;
  text-align: center;
  width: 100%;
  display: block;
  font-family: "Bungee", cursive;
  transition: font-size 0.5s;
  align-self: center;
}
@media only screen and (max-width: 900px) {
  .portWrap .portLogo .thanksPartTwo {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 499px) {
  .portWrap .portLogo .thanksPartTwo {
    font-size: 1.25em;
  }
}

.portNav .actualNav {
  position: relative;
  left: 708px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  line-height: 1.5;
  width: 243px;
}
@media only screen and (max-width: 900px) {
  .portNav .actualNav {
    display: none;
  }
}
.portNav .actualNav ul {
  position: absolute;
  background-color: white;
  padding: 1em;
  padding-left: 1em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -2em;
  box-shadow: inset 8px 0px 12px -10px #f71e50;
}
@media only screen and (max-width: 900px) {
  .portNav .actualNav ul {
    display: none;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding-top: 75px;
    padding-bottom: 0;
    line-height: 1.5;
    font-size: 1.25em;
    z-index: 4;
  }
}
.portNav .actualNav ul li {
  padding: 0 0.5em;
  display: block;
}
@media only screen and (max-width: 900px) {
  .portNav .actualNav ul li {
    padding: 0 2em;
    width: calc(100% - 2em);
  }
}
.portNav .actualNav ul li a {
  text-decoration: none;
  color: #ff4d96;
  padding: 0 0.5em;
}
@media only screen and (max-width: 900px) {
  .portNav .actualNav ul li a {
    background-color: green;
    text-align: center;
    display: block;
    padding: 0.5em;
    margin: 0.25em 0;
    border-radius: 5px;
  }
}
.portNav .actualNav ul li a:link.active {
  color: white;
  background-color: #ff4d96;
  border-radius: 5px;
}
.portNav .actualNav ul li a:visited.active {
  color: white;
  background-color: #ff4d96;
  border-radius: 5px;
}
.portNav .actualNav ul li a .active {
  color: white;
  background-color: #ff4d96;
  border-radius: 5px;
}
.portNav .mobileOpen {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #f71e50;
  color: white;
  width: 75px;
  height: 75px;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
  z-index: 5;
}
@media only screen and (max-width: 900px) {
  .portNav .mobileOpen {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .portNav .mobileOpen i {
    align-self: center;
    justify-content: center;
  }
}

.footer {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: white;
  display: block;
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 16px;
}

#secretVidContain {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Bungee", cursive;
}

#bta {
  text-align: center;
}
#bta img {
  width: 30%;
  display: inline-block;
  margin: 0;
}

.twoPicWrap {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.twoPicWrap #twopartone, .twoPicWrap #twoparttwo {
  display: inline-block;
  margin: 0;
  box-shadow: none;
  border: 0;
  max-width: 50%;
}
#credits {
  width: 900px;
  margin: 0 auto;
  position: relative;
  display: block;
  font-size: 0.8em;
  color: white;
}
#credits .credBox {
  width: calc(100% / 6.5);
  display: inline-block;
  overflow: wrap;
  vertical-align: top;
}
#credits .credBox b {
  display: block;
  font-weight: 800;
}
#credits .credBox i {
  font-weight: 800;
}

/*# sourceMappingURL=style3.css.map */
